:root {
    --white: #fff;
    --main: #eaedf0;
    --background: #2c2b33;
}

body {
    background: var(--main);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: var(--background);
    color: var(--white);
    padding: 16px;
    border-radius: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* font-size: 1.2rem; */
}

.month, .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

.month {
    p {
        margin: 0;
    }
    .prev, .next {
        padding: 0 10px;
        cursor: pointer;
    }
}

.buttons {
    div {
        padding: 0 10px;
    }

    div > * {
        cursor: pointer;
    }
}

.week, .days {
    display: grid;
    /* 7x7 를 같은 간격으로 */
    grid-template-columns: repeat(7, 1fr);
    padding: 0 10px;

    div {
        display: flex;
        justify-content: center;
        padding: 7px;
    }
}
